.title-wrapper {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    color: #555;
    margin: 2% 3% 0 3%;
    padding: 1%;
}

.whole-page {
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("../img/bg.jpg");
    padding: 30% 50%;
    background-size: 100% 100%;
    z-index: -1;
}

#setting-wrapper {
    display: inline-block;
    margin: 3% 1% 1.5% 3%;
    width: 48%;
    height: 500px;
    color: #555;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 1%;
}

#task-wrapper {
    display: inline-block;
    margin: 3% 3% 1.5% 1%;
    width: 40%;
    height: 500px;
    float: right;
    color: #555;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 1%;
}

#setting-table, #task-table {
    text-align: center;
}

#setting-table td, #setting-table th {
    width: 100px;
    padding: 0 5px;
}

#task-table td, #task-table th{
    width: 100px;
    padding: 5px 5px;
}

#task-table td input {
    width: auto;
    float: right;
}

#setting-tip {
    color: red;
    font-size: 12px;
}

input {
    width: 100%;
}

.button-wrapper {
    margin: 10% 22%;
}