.title-wrapper {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    color: #555;
    margin: 2% 3% 0 3%;
    padding: 1%;
}

.whole-page {
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("../img/bg.jpg");
    padding: 30% 50%;
    background-size: 100% 100%;
    z-index: -1;
}

#results-wrapper {
    margin: 3% 1.5% 1.5% 3%;
    width: 35%;
    height: 300px;
    display: inline-block;
    color: #555;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 1%;
}

#top-table, #bottom-table {
    text-align: center;
}

#top-table td, #top-table th {
    width: 300px;
    padding: 2% 5%;
}

#bottom-table td, #bottom-table th {
    width: 90px;
    padding: 1% 5%;
}

#chart-wrapper {
    margin: 3% 3% 1.5% 1.5%;
    float: right;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 1%;
    width: 50%;
    height: 40%;
}

#table-wrapper {
    clear: both;
    margin: 1.5% 3% 3% 3%;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 1%;
}

#excel-button, #confirm-button {
    margin: 5% 0 0 45%;
}

#excel-success-button {
    margin: 5% 0 0 45%;
    color: #0080ff;
}

#excel-path {
    margin: 1% 0 0 30%;
}

#excel-path-input {
    width: 40%;
}